body{
margin:0;
background:#121212;
font-family:Arial;
overflow:hidden;
}

#sidebar{
position:absolute;
left:0;
top:0;
width:300px;
height:100%;
background:#1c1c1c;
color:white;
padding:20px;
z-index:999;
}

.logo{
width:120px;
display:block;
margin:auto;
}

#map{
position:absolute;
left:300px;
right:0;
top:0;
bottom:0;
}

.green{
background:#00ff00;
width:15px;
height:15px;
display:inline-block;
}

.yellow{
background:yellow;
width:15px;
height:15px;
display:inline-block;
}

.red{
background:red;
width:15px;
height:15px;
display:inline-block;
}
